<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/common.css">
	<script type="text/javascript" src="/static/lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/list.js"></script>
</head>
<body>
    <div class="jumbotron back">
        <div class="container">
            <h1>hello,world!</h1>
            <p>This is a demo by Zhou powered by python django</p>
            <p>2015-11-7</p>
            <p><a href="/home/list/" class="btn btn-lg btn-primary">The lists page</a></p>
        </div>
    </div>
    {% block content %}
    {% endblock %}